@import url('https:/fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

html {
    font-size: 1vmax;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

html,
html * {
    padding: unset;
    margin: unset;
    box-sizing: border-box;
    scroll-behavior: smooth;
    touch-action: manipulation;
}

body {
    background: #222326;
}

section[id] {
    width: 100%;
    font-size: 1vmax;
    letter-spacing: 1px;
    line-height: 1.8;
    color: white;
    font-family: Microsoft JhengHei;
}

section[id] p {
    font-size: .8rem;
}

section[id] h1 {
    font-size: 4rem;
    font-weight: unset;
    line-height: 1.2;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Nunito Sans', sans-serif;
}

section[id] img {
    width: 100%;
}

section[id] .count_num {
    font-family: Microsoft JhengHei;
    font-size: .8rem;
    color: #969799;
}

@media screen and (min-width:700px) and (max-width:1195px) {
    html {
        font-size: 1.4vw;
    }

    section[id] {
        font-size: 1.4vw;
    }
}

@media screen and (max-width:700px) {
    html {
        font-size: 1.9vmax;
    }

    section[id] {
        font-size: 1.9vmax;
    }

    section[id] h1 {
        font-size: 2.6rem;
    }
}