#about_me [data-content="about_now"] .imgs_box .img_frame:first-of-type {
    width: 32vw;
    opacity: .3;
    top: 15%;
    left: 8%;
}

#about_me [data-content="about_now"] .imgs_box .img_frame:nth-of-type(2) {
    width: 22vw;
    opacity: 0.8;
    bottom: 30%;
    left: 59%;
}

#about_me [data-content="about_now"] .imgs_box .img_frame:last-of-type {
    width: 18vw;
    opacity: 0.4;
    bottom: 17%;
    left: 16%;
}

@media screen and (min-width:700px) and (max-width:1195px) {
    #about_me [data-content="about_now"] .imgs_box .img_frame:first-of-type {
        top: 0;
        left: 4%;
    }

    #about_me [data-content="about_now"] .imgs_box .img_frame:nth-of-type(2) {
        bottom: 23%;
        left: 68%;
    }

    #about_me [data-content="about_now"] .imgs_box .img_frame:last-of-type {
        bottom: -6%;
        left: 18%;
    }
}