#about_me [data-content="education"] .imgs_box .img_frame:first-of-type {
    width: 20vw;
    opacity: .5;
    top: 20%;
    left: 10%;
}

#about_me [data-content="education"] .imgs_box .img_frame:nth-of-type(2) {
    width: 17vw;
    opacity: .6;
    top: 24%;
    right: 14%;
}

#about_me [data-content="education"] .imgs_box .img_frame:last-of-type {
    width: 25vw;
    opacity: .7;
    bottom: 14%;
    left: 17%;
}

@media screen and (min-width:700px) and (max-width:1195px) {
    #about_me [data-content="education"] .imgs_box .img_frame:first-of-type {
        top: 0;
        left: 4%;
    }

    #about_me [data-content="education"] .imgs_box .img_frame:nth-of-type(2) {
        top: 8%;
        right: -6%;
    }

    #about_me [data-content="education"] .imgs_box .img_frame:last-of-type {
        bottom: -10%;
        left: 18%;
    }
}